*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}

body{
    background: #0F1219;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 700px;
}

header{
    background-color: #0F1219;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px  20px;
    box-shadow: 0px 0px 10px 0px #3EDDDD;
}

header ul {
    list-style: none;
    width: 100%;
    text-align: center;
}

ul li{
    display: inline;
    margin: 10px 20px;
}

ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

ul li a:hover{
    color: #3EDDDD;
}



header h1{
    color: #3EDDDD;
    font-weight: bold;
}

img{
    width: 40%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(62, 180, 212, 0.646), 0 6px 20px 0 rgba(62, 180, 212, 0.646);
}

.selected{
    height: 500px;
    display: flex;
    justify-content: space-around;
    
}

.details{
    box-shadow: 0 4px 8px 0 rgba(62, 180, 212, 0.646), 0 6px 20px 0 rgba(62, 180, 212, 0.646);
    background-color: rgb(35, 35, 73);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
}

.gouche{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    width: 90%;
    height: 40%;
}

.gouche h1{
    text-align: center;
    font-size: 60px;
}
h4{
    color: #b2b6bd;
}

.droite{

    justify-self: center;
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.droite p{
    background: transparent;
    border: 1px solid #3EDDDD;
    height: 50%;
    border-radius: 10px;
    padding: 10px;
    
}

#buttons{

    display: flex;
    width: 100%;
    justify-content: space-between;

}
#buttons button{
    width: 45%;
    background-color: #0d6666;
    outline: none;
    border: none;
    border-radius: 20px;
    height: 30px;
    font-size: larger;
    font-weight: bold;
    transition: .5s;
}

#buttons button:hover{
    background-color: #35bebe;
}